<table class='table' *ngIf="geladen">
    <thead>
        <tr>
            <th scope="col">Start</th>
            <th scope="col">Duur</th>
            <th scope="col">Naam</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let cursus of cursussen">
            <td>{{cursus.Startdatum | date:'dd/MM/yyyy'}}</td>
            <td>{{cursus.Duur}}</td>
            <td>{{cursus.Naam}}</td>
        </tr>
    </tbody>
</table>

<div class="spinner-border text-info" role="status" *ngIf="aanHetLaden">
    <span class="sr-only">Loading...</span>
</div>