<div class="container">
  <!-- altijd zichtbaar: input balk-->
  <div class="row">
    
    <span class="align-baseline">
      <form class="md-form">
          <div class="file-field">
              <div class="btn btn-light btn-sm float-left match-size">
                  <input type="file" (change)="bestandGekozen($event)">
              </div>
              <span>
                  <button type="button" class="btn btn-light btn-sm float-left match-size"  (click)="uploadDocument()"><span>Upload bestand</span></button>
              </span>
          </div>
      </form>
    </span>

  </div>
  <!-- Bij bestand inladen, geen fouten-->
  <div class="row" *ngIf="erZijnGeenFoutmeldingen">
    <table class="table table-striped">
      <thead>
        <h5>Cursussen in dit bestand</h5>
        <tr>
          <th scope="col">Start</th>
          <th scope="col">Duur</th>
          <th scope="col">Naam</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cursus of bestandCursussen">
          <td>{{cursus.Startdatum}}</td>
          <td>{{cursus.Duur}}</td>
          <td class="mr-2">{{cursus.Naam}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- bij bestand inladen, wel fouten-->
  <div class="row" *ngIf = "erZijnFoutmeldingen">
    <table class="table">
      <thead>
        <h5>Foutmeldingen</h5>
      </thead>
      <tbody>
        <tr *ngFor="let foutmelding of foutmeldingen">
          <td class="text-danger">{{foutmelding}}</td>      
        </tr>
        <tr>
          <td class="text-danger">Er zijn geen cursusinstanties toegevoegd.</td>
        </tr>
      </tbody>
    </table>


  </div>

  <!-- tijdens het uploaden-->
  <div class="spinner-border text-info" role="status" *ngIf="erWordtGeupload">
    <span class="sr-only">Loading...</span>
  </div>

  <!-- er is geupload-->
  <div *ngIf = "erIsGeupload">
    <div class="row" *ngIf = "erIsTenminsteEenTabelGeupload">
      <table class="table table-striped">
        <thead>
          <h5>Cursussen geupload</h5>
          <tr>
            <th scope="col">Start</th>
            <th scope="col">Duur</th>
            <th scope="col">Naam</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cursus of uploadedCursussen">
            <td>{{cursus.Startdatum | date:'dd/MM/yyyy'}}</td>
            <td>{{cursus.Duur}}</td>
            <td class="mr-2">{{cursus.Naam}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td class="text-success">Er zijn {{AantalCursussenUploaded}} cursussen en {{AantalInstantiesUploaded}} cursusinstanties toegevoegd.</td>
        </tr>        
        <tr *ngIf = "erWarenDuplicaten">
          <td class="text-danger">Er zijn {{AantalDuplicaten}} duplicaten tegengekomen.</td>
        </tr>  
      </tbody>
    </table>
    
  </div>
</div>


  

  




